# ２章　小売店のデータでデータ加工を行う１０本ノック

本章では、ある小売店の売上履歴と顧客台帳データを用いて、データ分析の素地となる「データの加工」を習得することが目的です。
実際の現場データは手入力のExcel等、決して綺麗なデータではない事が多いため、
データの揺れや整合性の担保など、汚いデータを取り扱うデータ加工を主体に進めて行きます。

### ノック１１：データを読み込んでみよう

In [2]:
import pandas as pd
uriage_data = pd.read_csv("uriage.csv")
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [11]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

### ノック１２：データの揺れを見てみよう

In [12]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

### ノック１３：データに揺れがあるまま集計しよう

In [14]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month", columns= "item_name", aggfunc= "size",fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

### ノック１４：商品名の揺れを補正しよう

In [15]:
print(len(pd.unique(uriage_data.item_name)))

99

In [16]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace("  ","")
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ","")
uriage_data.sort_values(by=["item_name"],ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
1721 2019-02-24 19:18:05       商品A       100.0           楠哲平         201902
1708 2019-03-27 17:10:06       商品A       100.0          西脇礼子         201903
1707 2019-03-25 21:42:02       商品A       100.0          浅見広司         201903
234  2019-03-23 09:32:03       商品A       100.0         赤木だん吉         201903
1684 2019-02-17 20:25:57       商品A       100.0          手塚雅之         201902
497  2019-02-11 03:54:57       商品A       100.0           堀江佑         201902
1761 2019-05-04 14:44:55       商品A       100.0          八木雅彦         201905
1658 2019-03-23 20:08:49       商品A       100.0          片瀬長利         201903
1544 2019-01-21 11:49:01       商品A       100.0           藤広之         201901
1513 2019-04-04 18:58:05       商品A       100.0          河村由樹         201904
1500 2019-02-28 17:25:59       商品A       100.0          赤木愛梨         201902
1498 2019-01-19 12:15:21       商品A       100.0            今茜         201901
1481 2019-03-10 03:52:24       商品A       100.0         石川まさみ         201903
1474 2019-04-11 02:22:17       商品A         NaN          堀北雅彦         201904
274  2019-07-27 01:45:18       商品A       100.0          佐藤慶二         201907
1454 2019-01-16 07:35:54       商品A       100.0          平田鉄二         201901
1398 2019-06-13 02:20:26       商品A       100.0          高沢美咲         201906
1394 2019-07-07 21:49:14       商品A         NaN           楠哲平         201907
1576 2019-05-06 02:40:03       商品A       100.0           楠哲平         201905
211  2019-02-12 02:52:39       商品A       100.0          日野夏希         201902
210  2019-07-08 04:17:01       商品A       100.0          平田鉄二         201907
1835 2019-06-20 12:57:54       商品A       100.0          古川信吾         201906
2384 2019-04-27 02:50:16       商品A       100.0            林勇         201904
117  2019-06-14 09:08:17       商品A       100.0         深井菜々美         201906
2352 2019-07-28 07:55:39       商品A       100.0          矢部夏空         201907
...                  ...       ...         ...           ...            ...
214  2019-06-02 01:01:30       商品Y      2500.0           大山咲         201906
707  2019-02-08 19:17:58       商品Y      2500.0          戸塚美幸         201902
2123 2019-06-19 14:40:25       商品Y         NaN          岩沢那奈         201906
2909 2019-04-27 21:33:34       商品Y      2500.0           横田遥         201904
2910 2019-05-16 07:16:37       商品Y      2500.0          松田浩正         201905
702  2019-06-20 19:09:02       商品Y      2500.0          亀井一徳         201906
198  2019-04-13 13:05:25       商品Y      2500.0          杉下悟志         201904
689  2019-05-24 17:03:58       商品Y      2500.0          矢部美幸         201905
1571 2019-05-10 17:54:12       商品Y         NaN          梅津淳子         201905
833  2019-07-29 11:07:10       商品Y      2500.0           大山咲         201907
743  2019-06-09 04:18:56       商品Y      2500.0          福本美幸         201906
26   2019-05-16 04:45:21       商品Y      2500.0          明石家明         201905
2857 2019-06-13 22:19:16       商品Y      2500.0        田辺きみまろ         201906
2446 2019-03-30 18:50:18       商品Y         NaN          梅村秀樹         201903
2679 2019-05-04 13:03:40       商品Y      2500.0          藤木一恵         201905
1882 2019-07-31 16:58:12       商品Y         NaN         五十嵐春樹         201907
805  2019-07-29 07:17:05       商品Y      2500.0          島孝太郎         201907
2452 2019-05-01 17:42:48       商品Y      2500.0          神原美嘉         201905
2889 2019-06-14 10:11:12       商品Y      2500.0          小松季衣         201906
1732 2019-02-20 05:22:25       商品Y         NaN         河内さとみ         201902
2090 2019-06-13 07:18:45       商品Y      2500.0        大城ケンイチ         201906
2100 2019-02-27 01:24:20       商品Y      2500.0          石渡小雁         201902
1878 2019-01-29 13:58:57       商品Y      2500.0         西原未華子         201901
2527 2019-05-17 18:15:27       商品Y      2500.0           松村聡         201905
2526 2019-05-26 10:26:28       商品Y      2500.0           島英嗣         201905
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [18]:
print((pd.unique(uriage_data["item_name"])))
print(len(pd.unique(uriage_data["item_name"])))

['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']
26

### ノック１５：金額欠損値の補完をしよう

### ノック１６：顧客名の揺れを補正しよう

### ノック１７：日付の揺れを補正しよう

### ノック１８：顧客名をキーに２つのデータを結合(ジョイン)しよう

### ノック１９：クレンジングしたデータをダンプしよう

### ノック２０：データを集計しよう